<div class="row mt-4">
<div class="box1 col-4" style="float: left;">
    
    <div class="row my-4">
        <label  class="col-sm-4 col-form-label"><b>Title</b></label>
        <div class="col-sm-7">
            <textarea value="{{file.title}}" class="form-control" readonly></textarea>
        </div>
    </div>
    
    <img src="/assets/images/pic.jfif" width="200px" height="250px" alt="image  "><br>
    
</div>
<div class="box2 col  ml-3">

    <div class="row my-4">
        <label  class="col-sm-3 col-form-label"><b>Description</b></label>
        <div class="col-sm-9">
            <textarea  value="{{file.description}}" class="form-control" readonly></textarea>
        </div>
    </div>

    <div class="row my-4">
        <label  class="col-sm-3 col-form-label"><b>Tags</b></label>
        <div class="col-sm-9">
            <textarea type="text" value="{{file.tags}}" class="form-control" readonly></textarea>
        </div>
    </div>

    <div class="my-3">
        Likes and comments goes here...
    </div>

</div>
</div>
